<ion-content padding>
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item lines="full">
      <ion-label position="floating">Title</ion-label>
      <ion-input
        formControlName="name"
        type="text"
        aria-label="Name"
      ></ion-input>
    </ion-item>

    <div
      *ngIf="
        this.ionicForm.controls?.name.touched &&
        this.ionicForm.controls?.name.invalid
      "
    >
      <div
        class="ion-padding"
        *ngIf="this.ionicForm.controls?.name.errors?.required"
      >
        <ion-text color="danger">Title is required.</ion-text>
      </div>
      <div
        class="ion-padding"
        color="danger"
        *ngIf="this.ionicForm.controls?.name.errors?.minlength"
      >
        <ion-text color="danger">Title should be min 5 chars long.</ion-text>
      </div>
    </div>

    <ion-item lines="full">
      <ion-label position="floating">Description</ion-label>
      <ion-input
        formControlName="description"
        type="text"
        aria-label="Name"
      ></ion-input>
    </ion-item>

    <div
      *ngIf="
        this.ionicForm.controls?.description.touched &&
        this.ionicForm.controls?.description.invalid
      "
    >
      <div
        class="ion-padding"
        *ngIf="this.ionicForm.controls?.description.errors?.required"
      >
        <ion-text color="danger">Description is required.</ion-text>
      </div>
      <div
        class="ion-padding"
        color="danger"
        *ngIf="this.ionicForm.controls?.description.errors?.minlength"
      >
        <ion-text color="danger"
          >Description should be at least 10 chars long.</ion-text
        >
      </div>
    </div>

    <!-- <input   formControlName="photo" type="file" (click)="selectImage()"> -->

    <!-- <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Submit</ion-button
        >
      
      </ion-col>
    </ion-row> -->
  </form>
</ion-content>
