<ion-button (click)="takePicture()">Take Picture</ion-button>
<img [src]="picture" style="width: 200px" />
<div class="item-note" item-end>
  <button ion-button (click)="addPicture()">
    <ion-icon name="add" size="large"></ion-icon>
  </button>
</div>

<!-- Display list of added Picture -->
<div padding>
  <ion-list>
    <ion-item *ngFor="let item of pictureList; let i = index">
      <ion-text>Image : </ion-text>
      <!-- {{ item }} -->
      <img [src]="item" style="width: 200px" />

      <div class="item-note" item-end>
        <button ion-button (click)="deletePicture(i)">
          <ion-icon name="trash" size="large"></ion-icon>
        </button>
      </div>
    </ion-item>
  </ion-list>
</div>
