<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inspiration App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="signIn()" *ngIf="!user">
    <ion-icon name="logo-google" slot="start"></ion-icon> Sign In Google
  </ion-button>
  <ion-button expand="full" (click)="signOut()" *ngIf="user"
    >Sign out</ion-button
  >

  <!-- Display User name and Email when Logged In -->
  <ion-item *ngIf="user">
    <ion-avatar slot="start">
      <img [src]="user.imgaeUrl" />
    </ion-avatar>
    <ion-label>
      <p>Welcome</p>
      {{user.givenName}} {{user.familyName}}
      <p>{{user.email}}</p>
    </ion-label>
  </ion-item>

  <!--  CRUD UI -->
  <form [formGroup]="ionicForm" novalidate>
    <ion-item>
      <ion-input
        formControlName="title"
        type="text"
        placeholder="Enter Title"
        [(ngModel)]="titleName"
        aria-label="title"
      />

      <div class="item-note" item-end>
        <button ion-button (click)="addTitle()">
          <ion-icon name="add" size="large"></ion-icon>
        </button>
      </div>
    </ion-item>
    <div
      *ngIf="
      this.ionicForm.controls?.title.touched &&
      this.ionicForm.controls?.title.invalid
    "
    >
      <div
        class="ion-padding"
        *ngIf="this.ionicForm.controls?.title.errors?.required"
      >
        <ion-text color="danger">Title is required.</ion-text>
      </div>
      <div
        class="ion-padding"
        color="danger"
        *ngIf="this.ionicForm.controls?.title.errors?.minlength"
      >
        <ion-text color="danger">Title should be min 5 chars long.</ion-text>
      </div>
    </div>

    <!-- Description -->
    <ion-item>
      <ion-input
        formControlName="description"
        type="text"
        placeholder="Enter Description"
        [(ngModel)]="description"
        aria-label="description"
      />
      <div class="item-note" item-end>
        <button ion-button (click)="addDescription()">
          <ion-icon name="add" size="large"></ion-icon>
        </button>
      </div>
    </ion-item>

    <div
      *ngIf="
    this.ionicForm.controls?.description.touched &&
    this.ionicForm.controls?.description.invalid
  "
    >
      <div
        class="ion-padding"
        *ngIf="this.ionicForm.controls?.description.errors?.required"
      >
        <ion-text color="danger">Description is required.</ion-text>
      </div>
      <div
        class="ion-padding"
        color="danger"
        *ngIf="this.ionicForm.controls?.description.errors?.minlength"
      >
        <ion-text color="danger"
          >Description should be at least 10 chars long.</ion-text
        >
      </div>
    </div>
    <app-camera></app-camera>

    <!-- Display list of added Title -->
    <div padding>
      <ion-list>
        <ion-item *ngFor="let item of titleList; let i = index">
          <ion-text>Title : </ion-text>
          {{item}}
          <div class="item-note" item-end>
            <button ion-button (click)="updateTitle(i)">
              <ion-icon name="create" size="large"></ion-icon>
            </button>
            <button ion-button (click)="deleteTitle(i)">
              <ion-icon name="trash" size="large"></ion-icon>
            </button>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <!-- Display list of added Description -->
    <div padding>
      <ion-list>
        <ion-item *ngFor="let item of descriptionList; let i = index">
          <ion-text>Description : </ion-text>
          {{item}}
          <div class="item-note" item-end>
            <button ion-button (click)="updateDescription(i)">
              <ion-icon name="create" size="large"></ion-icon>
            </button>
            <button ion-button (click)="deleteDescription(i)">
              <ion-icon name="trash" size="large"></ion-icon>
            </button>
          </div>
        </ion-item>
      </ion-list>
    </div>

    <!-- <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Submit</ion-button
        >
      </ion-col>
    </ion-row> -->
  </form>
</ion-content>
