<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Inspiration App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button expand="full" (click)="signIn()" *ngIf="!user">
    <ion-icon name="logo-google" slot="start"></ion-icon> Sign In Google
  </ion-button>

  <!-- Display User name and Email when Logged In -->
  <ion-content *ngIf="user">
    <ion-item>
      <ion-avatar slot="start">
        <img [src]="user.imageUrl" />
      </ion-avatar>
      <ion-label>
        <p>Welcome</p>
        {{user.givenName}} {{user.familyName}}
        <p>{{user.email}}</p>
      </ion-label>
    </ion-item>

    <!-- Sign Out button -->
    <ion-button expand="full" (click)="signOut()" *ngIf="user"
      >Sign out</ion-button
    >

    <!--  CRUD UI -->
    <div class="ion-padding-top">
      <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
        <ion-item>
          <ion-input
            formControlName="title"
            type="text"
            placeholder="Enter Title"
            [(ngModel)]="titleName"
            aria-label="title"
          />
        </ion-item>
        <div
          *ngIf="
      this.ionicForm.controls?.title.touched &&
      this.ionicForm.controls?.title.invalid
    "
        >
          <!-- Validations -->
          <div
            class="ion-padding"
            *ngIf="this.ionicForm.controls?.title.errors?.required"
          >
            <ion-text color="danger">Title is required.</ion-text>
          </div>
          <div
            class="ion-padding"
            color="danger"
            *ngIf="this.ionicForm.controls?.title.errors?.minlength"
          >
            <ion-text color="danger"
              >Title should be min 5 chars long.</ion-text
            >
          </div>
        </div>

        <!-- Description -->
        <ion-item>
          <ion-input
            formControlName="description"
            type="text"
            placeholder="Enter Description"
            [(ngModel)]="description"
            aria-label="description"
          />
        </ion-item>

        <div
          *ngIf="
    this.ionicForm.controls?.description.touched &&
    this.ionicForm.controls?.description.invalid
  "
        >
          <!-- Validations -->

          <div
            class="ion-padding"
            *ngIf="this.ionicForm.controls?.description.errors?.required"
          >
            <ion-text color="danger">Description is required.</ion-text>
          </div>
          <div
            class="ion-padding"
            color="danger"
            *ngIf="this.ionicForm.controls?.description.errors?.minlength"
          >
            <ion-text color="danger"
              >Description should be at least 10 chars long.</ion-text
            >
          </div>
        </div>

        <!-- Camera Component -->
        <ion-button (click)="takePicture()">Take Picture</ion-button>
        <img [src]="picture" style="width: 200px" />

        <!-- <app-camera></app-camera> -->

        <!-- Submit Button -->
        <ion-row>
          <ion-col>
            <ion-button type="submit" color="danger" expand="block"
              >Submit</ion-button
            >
          </ion-col>
        </ion-row>
      </form>
      <!-- Display list of added Title -->
      <div padding>
        <ion-list>
          <ion-item *ngFor="let item of titleList; let i = index">
            <ion-text>Title : </ion-text>
            {{item}}
            <div class="item-note" item-end>
              <button ion-button (click)="updateTitle(i)">
                <ion-icon name="create" size="large"></ion-icon>
              </button>
              <button ion-button (click)="deleteTitle(i)">
                <ion-icon name="trash" size="large"></ion-icon>
              </button>
            </div>
          </ion-item>
        </ion-list>
      </div>

      <!-- Display list of added Description -->
      <div padding>
        <ion-list>
          <ion-item *ngFor="let item of descriptionList; let i = index">
            <ion-text>Description : </ion-text>
            {{item}}
            <div class="item-note" item-end>
              <button ion-button (click)="updateDescription(i)">
                <ion-icon name="create" size="large"></ion-icon>
              </button>
              <button ion-button (click)="deleteDescription(i)">
                <ion-icon name="trash" size="large"></ion-icon>
              </button>
            </div>
          </ion-item>
        </ion-list>
      </div>

      <!-- Display list of added Picture -->
      <div padding>
        <ion-list>
          <ion-item *ngFor="let item of pictureList; let i = index">
            <ion-text>Image : </ion-text>
            <img [src]="item" style="width: 200px" />

            <div class="item-note" item-end>
              <button ion-button (click)="deletePicture(i)">
                <ion-icon name="trash" size="large"></ion-icon>
              </button>
            </div>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-content>
